body {
  background-color: hotpink;
  color: #FDFFFF;
  width: 500px;
  margin-right: auto;
  margin-left : auto;
}
button {
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  background-color: #c71585;
  border-style: none;
}  